<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schoodle</title>
    <link rel="stylesheet" href="../styles/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="../vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="../vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="../styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="../styles/long-url.css" type="text/css" />
    <link rel="stylesheet" href="../styles/font-awesome-4.7.0/css/font-awesome.min.css">

    <script type="text/javascript" src="../vendor/jquery-3.0.0.js"></script>

    <link rel="stylesheet" href="../styles/nav.css" type="text/css" />

    <script type="text/javascript" src="../vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="../scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/app-long-url.js"></script>

  </head>


  <body>
    <header>
      <%- include partials/_header.ejs %>
    </header>
    <main class="container">

      <button class="btn" id="add-participant"> Add Participant </button></br>
      <h1><%= title %></h1></br>
      <p class="muted">Description: <%= description %></p></br>

      <table class="table-slot">
        <tr>
        <!-- Do we need the element tags on the line below? -->
          <th></th>
          <th>Participants</th>
          <% for (var slot of slots) { %>
            <th> <%= moment(slot.date).format("ll") %> </br>
            <%= moment(moment(slot.date).format("ll") + ' ' + slot.start_time).format("LT") %> - </br>
            <%= moment(moment(slot.date).format("ll") + ' ' + slot.end_time).format("LT") %>
             </th>
          <% } %>
        </tr >
        <% for (var user_id in users) { %>
          <% var user = users[user_id] %>
          <tr class="row">
            <td class="button-column">
              <button class="delete-participant btn" > Delete </button>
              <button class="edit-participant btn"> Edit </button>
              <input type="submit" class="submit-button" value="Submit" hidden>
            </td>
            <td class="participant-column">
              <p class="participant-name" id="<%=user.id%>"><%= user.name %></p>
              <input type="text" class="text-box" hidden>
            </td>
            <% for (var slot of slots) { %>
              <% if (slot.users.includes(Number(user_id))) { %>
                <td><i class="fa fa-check-circle" title="<%= slot.id %>" aria-hidden="true"></i></td>
              <% } else { %>
                <td><i class="fa fa-circle-o" title="<%= slot.id %>" aria-hidden="true"></i></td>
              <% } %>
            <% } %>
          </tr>
        <% } %>
      </table>
    </main>

    <main class="container">
      <h1>Share the Event</h1>
      <section class="long-url">
        <div class="long-url">
          <input type="text" class="long-url" id="long-url" name="long-url" value="">
          <i class="fa fa-clipboard" id="copy-button" aria-hidden="true"></i>
        </div>
      </section>
    </main>

  </body>



</html>
